/* Adjusted CSS for the new structure */
.container {
  height: 100px;
  background: linear-gradient(180deg, #15a110 10%, #8ef706 60%);
  display: flex;
}

.hero-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding-left: 130px;
  line-height: 1.2;
}

.mt-4-font-weight-bold {
  color: rgb(252, 235, 8);
  font-size: 1.5cm;
  font-weight: 600;
  font-family: fantasy;
}

.hero-left p {
  color: #da6d07;
  font-size: 1.3cm;
  font-weight: 700;
  font-family: cursive;
}

.hero-hand-icon p {
  font-size: 1.4cm;
  display: flex;
  align-items: center;
  gap: 20px;
  color: rgb(252, 248, 248);
}

.hero-right img {
  width: 470px;
  margin-right: 20px;
  margin-top: 15px;
}

.hero-hand-icon {
  width: 80px;
  display: flex;
  margin-right: 10px;
}

.hero-left p:nth-child(2) {
  font-size: 1.5cm;
  font-weight: bold;
}

.hero-left p:nth-child(3) {
  font-size: 1cm;
  color: #0d0f0d;
}

#imageOne {
  width: 10px;
  margin-left: 40px;
}

#hero-image {
  width: 40px;
  height: 30px;
}
.btn-primary {
  margin: 20px;
}
