.hero {
  height: 100vh;
  background: linear-gradient(180deg, #15a110 10%, #8ef706 60%);
  display: flex;
}

.hero-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding-left: 120px;
  line-height: 1.2;
}
.hero-left h2 {
  color: rgb(252, 235, 8);
  font-size: 1.5cm;
  font-weight: 600;
  font-family: fantasy;
}

.hero-left p {
  color: #da6d07;
  font-size: 1.3cm;
  font-weight: 700;
  font-family: cursive;
}

.hero-hand-icon p {
  font-size: 1.4cm;
  display: flex;
  align-items: center;
  gap: 20px;
  color: rgb(252, 248, 248);
}

.hero-right img {
  width: 470px;
  margin-right: 20px;
  margin-top: 15px;
}

.hero-latest-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 300px;
  height: 50px;
  border-radius: 75px;
  margin-top: 30px;
  background: #08860e;
  color: #ffffff;
  font-size: 0.6cm;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
}
.hero-hand-icon {
  width: 80px;
  display: flex;
  margin-right: 100px;
}

.hero-left p:nth-child(2) {
  font-size: 1.5cm;
  font-weight: bold;
}

.hero-left p:nth-child(3) {
  font-size: 1.7cm;
  color: #0d0f0d;
}
#imageOne {
  width: 100px;
  margin-left: 40px;
}
