.featured {
  margin-top: 60px;
}

.product-list {
  display: grid;
  font-family: "Times New Roman", Times, serif;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  gap: 10px;
  margin-top: 90px;
  padding: 10px;
  color: #454545;
  font-size: 18px;
  font-weight: 100;
}

.product-list img {
  width: 80px;
  height: 80px;
  margin-right: 10px;
  margin: 20px;
}
.product-list a {
  display: grid;
  flex-wrap: wrap;
  margin-right: 45px;
}

.featured h2 {
  font-size: 1.3cm;
  font-weight: 300;
  align-items: center;
  margin-left: 490px;
  color: rgb(82, 177, 19);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.product-list p {
  font-size: 0.5cm;
  color: black;
}

.more-button {
  border-radius: 15px;
  width: 160px;
  height: 50px;
  color: black;
  background-color: rgb(102, 255, 0);
  align-items: center;
  cursor: pointer;
  margin-left: 650px;
  margin-top: 90px;
  font-size: 0.7cm;
  font-weight: 300;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
