.shopcategory-banner {
  display: block;
  margin: 30px auto;
  width: 100%;
}
.shopcategory-indexSort {
  display: flex;
  margin: 10px 170px;
  font-size: 0.5cm;
  font-weight: 500;
  font-family: fantasy;
  justify-content: space-between;
  align-items: center;
}
.shopcategory-sort {
  padding: 10px 20px;
  border-radius: 40px;
  border: 1px solid #888;
}
.shopcategory-indexSort p span {
  font-weight: 500;
}
.shopcategory-products {
  margin: 20px 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 10px;
  justify-self: space-between;
}
.item {
  width: auto;
  justify-content: space-between;
  padding: 10px;
}
.shopcategory-loadmore {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 150px;
  margin-left: 650px;
  width: 233px;
  height: 65px;
  border-radius: 75px;
  background: rgb(114, 245, 6);
  color: rgb(10, 10, 10);
  font-size: 0.7cm;
  font-weight: 500;
}
.shopcategory-loadmore:hover {
  color: rgb(250, 252, 252);
  background-color: rgb(45, 129, 12);
}
