/* RelatedProducts.css */

.related-products-container {
  text-align: center;
  margin: 5px;
}

.related-products-container h1 {
  color: #171717;
  font-size: 50px;
  font-weight: 600;
}

.separator {
  width: 250px;
  height: 6px;
  margin-left: 42%;
  border-radius: 10px;
  background: #070606;
}

.related-products-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 3px;
}

/* Style for each individual item */
.related-products-list .item {
  flex: 0 1 calc(20%); /* Adjust the width of each item */
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .related-products-list .item {
    flex: 0 1 calc(50% - 10px); /* smaller screens */
  }
}
