.offers {
  width: 65%;
  height: 100xp;
  display: flex;
  margin: 10%;
  padding: 10px 90px;
  margin-top: 230px;
  background: linear-gradient(180deg, #8df506 70%, #ffef0c 100%);
}

.offers-left {
  display: flex;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  flex-direction: column;
}

.offers-left h1 {
  color: #171717;
  font-size: 2cm;
  font-weight: 600;
  padding: 2px;
  margin-top: 30px;
}

.offers-left p {
  color: #6d5a5a;
  font-size: 1cm;
  margin-top: 90px;
  font-weight: 600;
}

.offers-left button {
  width: 250px;
  height: 50px;
  border-radius: 30px;
  border: none;
  background: #d85c09;
  color: rgb(255, 255, 255);
  font-size: 0.6cm;
  font-weight: 500;
  margin-left: 250px;
  margin-top: 30px;
  cursor: pointer;
}
.offers-right {
  display: flex;
  align-items: center;
  margin-top: 200px;
  margin-left: 280px;
}
